server:
  servlet:
    context-path: /sb-frame
  port: 8888

spring:
  application:
    name: sb-frame
  servlet:
    multipart:
      max-file-size: 5242880
      max-request-size: 5242880
  profiles:
    active:
      - local

mybatis:
  config-location: classpath:com/xpl/framework/config/spring-mybatis.xml
  mapper-locations: classpath:com/xpl/dao/mapper/*.xml
